@font-face {
  font-family: "iconfont"; /* Project id 4705045 */
  src: url('//at.alicdn.com/t/c/font_4705045_m02croeaobc.woff2?t=1732617857824') format('woff2'),
       url('//at.alicdn.com/t/c/font_4705045_m02croeaobc.woff?t=1732617857824') format('woff'),
       url('//at.alicdn.com/t/c/font_4705045_m02croeaobc.ttf?t=1732617857824') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-juejin:before {
    content: "\e601";
    color: #2db7f5;
    font-size: 18px;
  }

  .icon-Bzhan:before {

    content: "\e60b";
    color: #FB7299;
    font-size: 22px;
  }
  
  
  .icon-gongzhonghao:before {
    content: "\eb79";
    font-size: 22px;
    color: #7bb32e
    /* 公众号图标颜色 */
    
  
  }
  
  .icon-csdn:before {
    content: "\e600";
    color: #fc5531;
    font-size: 22px;
  }
  
  .icon-github:before {
    content: "\e689";
    color: #24292e;
    font-size: 22px;
  }
  
  .icon-weixin:before {
    content: "\e607";
    color: #1AAD19;
    font-size: 22px;
  }
  
  .icon-zhihu-circle-fill:before {
    content: "\ea8b";
    color: #0084ff;
    font-size: 24px;
  }

  
  